html 
{ 
	font-family: 'Oswald', sans-serif;
	background-image: url("../img/restaurant.png");

}

#main_box
{
	background-image: url("../img/restaurant.png");
	height: 100%;
	width: 60%;
	margin: 0px 20%;
	float: center;
}

.header
{
	text-decoration: underline;
	color: rgb(176,87,114);
	text-align: center;
}

ul
{
	margin: auto;
	width: 125px;
}

#todo_add
{
	margin: auto;
	width: 125px;
}

#left_box
{
	float: left;
}

#right_box
{
	float: right;
}

.box
{
	background: rgb(176,87,114);
	height: 100%;
	width: 20%;
	margin: 0px 0px;
}

