html 
{ 
	background-image: url("../img/restaurant.png");
	font-family: 'Oswald', sans-serif;

}

h1 
{
	text-decoration: underline;
	color: rgb(176,87,114);
	text-align: center;
}

h2
{
	text-decoration: underline;
	color: rgb(176,87,114);
	text-align: center;
}

ul
{
	margin: auto;
	width: 125px;
}

#todo_add
{
	margin: auto;
}

label {text-align: center;}

